html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, em, img, q, sub, b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, section {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: $font-family;
	vertical-align: baseline;
}

input, button {
  box-sizing: border-box;
  font-family: $font-family;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  height: 100dvh;
  overflow: hidden;
}
main {
  height: 100dvh;
  overflow-y: scroll;
}
ol, ul {
	list-style: none;
}

