button.submit-note,
button.add-note {
  background-color: #1d4339;
  &:hover {
    cursor: pointer;
  }

}

button.submit-note {
  color: #fff;
  border: 1px solid #444;
  outline: 0;
  border-radius: 4px;
}

button.add-note {

  border: 0;
  outline: 0;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    left: 1px;
    //top: -1px;
  }
}

